<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DEMO</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/imp.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include partials/navbar.ejs %>
	<div class="container">
		<div id="content">
			<div class="row">
				<% for(var i = 0; i < data.length; i++){ %>
					<div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					      <img src="<%= data[i].image_url %>" alt="image" class="post--img-small">
					      <div class="caption">
					        <h3 class="post--name"><%= data[i].name %></h3>
					        <p class="post--description"><%= data[i].description %></p>
					        <p><a href="#" class="btn btn-primary" role="button">Like</a> <a class="btn btn-default see-more" role="button" id="<%= data[i].id %>">See more</a></p>
					      </div>
					    </div>
					</div>
				<% } %>
			</div>
		</div>
		<div class="row">
			<center><a href="/">Return to the list</a></center>
		</div>
		
	</div>
</body>
</html>